* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  font-size: 16px;
}
/* Header  */
.container {
  border-bottom: 1px black solid;
  /* background: #c4ffb2; */
  background: #058c42;

  display: flex;

  justify-content: space-between;
  padding: 1rem 5rem;
}
.style {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.style img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1rem;
}

ul li {
  margin-right: 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
ul li:hover {
  color: white;
  text-decoration: underline;
}
li button {
  background: black;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
}
li button:hover {
  color: black;
  background: #6bd094;
  box-shadow: none;
}
/* Container-1 */
.section {
  /* background: #ddf0ff; */
  background: url(./Images/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  border-bottom: 1px black solid;
  max-width: 100%;
}
.container-1 {
  padding: 1rem 5rem;
  width: 100%;
  margin: 8rem 0;
}
.container-1 h2 {
  color: white;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.container-1 p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.container-1 button {
  background: black;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 15rem;
  margin-bottom: 3rem;
  border: none;
  font-size: 1.2rem;
}
.container-1 button:hover {
  color: black;
  background: #6bd094;
  box-shadow: none;
}
.container-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2.5rem 5rem;
  background: #058c42;
}
.container-2 img {
  border: 1px black solid;
  border-radius: 50%;
  height: 2rem;
}
/* Media Queries */
@media (max-width: 895px) {
  .container {
    padding: 1rem 1rem;
  }
  ul li {
    margin-right: 0.5rem;
  }
}
@media (max-width: 730px) {
  ul li {
    margin-right: 0;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
  }
  .container-1 {
    margin: 5rem 0;
    text-align: center;
  }
  .container-2 {
    justify-content: center;
  }
}
@media (max-width: 642px) {
  ul li {
    padding: 0.2rem 0.3rem;
  }
  .container {
    /* display: inline-block; */
    display: grid;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .container-1 {
    padding: 1rem;
  }
  ul li {
    padding: 0.2rem;
  }
}

/* header {
  height: 8.5rem;
  background: #ffc017;
  padding: 0.5rem 10rem;
  border-bottom: 1px black solid;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
}
.style {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.style img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 2rem;
}
ul li {
  font-size: 1.2rem;
  color: black;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

li button {
  background: black;
  color: whitesmoke;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.section {
  padding: 3rem 10rem;

  background: #ffc017;
  border-bottom: 1px black solid;
}

.container-1 {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  padding: 2rem;
}
.container-1 h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.container-1 p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

button {
  background: black;
  color: whitesmoke;
  border: none;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.container-1 button {
  width: 20rem;
}
.container-2 {
  display: flex;
  justify-content: start;
  padding: 3rem 10rem;
  align-items: center;
  gap: 1rem;
}
.container-2 img {
  height: 2rem;
  width: 2rem;
  border: 1px black solid;
  border-radius: 50%;
}
.container-2 h4 {
  font-size: 1rem;
}
/* Media Queries */
/* @media (max-width: 1255px) {
  header {
    padding: 0.5rem 5rem;
  }
  ul {
    gap: 2rem;
  }
}
@media (max-width: 1095px) {
  header {
    padding: 0.5rem 3rem;
  }
  @media (max-width: 1255px) {
    header {
      padding: 0.5rem 5rem;
    }
    ul {
      gap: 2rem;
    }
  }
  @media (max-width: 1095px) {
    header {
      padding: 0.5rem 3rem;
    }
    ul {
      gap: 1rem;
    }
  }
  @media (max-width: 948px) {
    header {
      padding: 0.5rem 1rem;
    }
    ul {
      gap: 0.5rem;
    }
  }
  @media (max-width: 730px) {
    ul li {
      padding: 0.3rem 0.5rem;
    }
  }
  ul {
    gap: 1rem;
  }
}
@media (max-width: 948px) {
  header {
    padding: 0.5rem 1rem;
  }
  ul {
    gap: 0.5rem;
  }
}
@media (max-width: 730px) {
  ul li {
    padding: 0.3rem 0.5rem;
  }
} */
