* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  font-size: 16px;
}
/* Header  */
.container {
  border-bottom: 1px black solid;
  background: #058c42;

  display: flex;

  justify-content: space-between;
  padding: 1rem 5rem;
}
.style {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.style img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1rem;
}

ul li {
  margin-right: 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
ul li:hover {
  color: white;
  text-decoration: underline;
}
li button {
  background: black;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
}
li button:hover {
  color: black;
  background: #6bd094;
  box-shadow: none;
}
/* Container-1 */
.section {
  background: url(./Images/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  border-bottom: 1px black solid;
  max-width: 100%;
}
.container-1 {
  padding: 1rem 5rem;
  width: 100%;
  margin: 8rem 0;
}
.container-1 h2 {
  color: white;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.container-1 p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.container-1 button {
  background: black;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 15rem;
  margin-bottom: 3rem;
  border: none;
  font-size: 1.2rem;
}
.container-1 button:hover {
  color: black;
  background: #6bd094;
  box-shadow: none;
}
/* Container-2 */
.container-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2.5rem 5rem;
  background: #058c42;
}
.container-2 img {
  border: 1px black solid;
  border-radius: 50%;
  height: 2rem;
}
/* Media Queries */
@media (max-width: 895px) {
  .container {
    padding: 1rem 1rem;
  }
  ul li {
    margin-right: 0.5rem;
  }
}
@media (max-width: 730px) {
  ul li {
    margin-right: 0;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
  }
  .container-1 {
    margin: 5rem 0;
    text-align: center;
  }
  .container-2 {
    justify-content: center;
  }
}
@media (max-width: 642px) {
  ul li {
    padding: 0.2rem 0.3rem;
  }
  .container {
    display: grid;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .container-1 {
    padding: 1rem;
  }
  ul li {
    padding: 0.2rem;
  }
}
